strict-peer-dependencies=false
use-node-version=22.16.0
node-linker=hoisted
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
